*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.div-container{
    width : 450px;
    height : 461px;
    margin : 50px auto;
    padding: 20px 40px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    border-radius : 20px;

}

.icon img{
    height: 100px;
    width : 100px;
    
}

.div-container h2{
    font-size: 24px;
    max-width: 280px;
    line-height: 32px;
    font-weight: 500;
}



.div-container p{
    font-size: 16px;
    max-width: 280px;
    line-height : 24px;
    font-weight: 400px;
    text-align: center;
}


#loginButton{
    width : 290px;
    font-size: 14px;
    border-radius : 20px;
    border : none;
    padding : 8px;
    color : white;
    background-color: #E16E3D;

}



#createButton{
    width : 290px;
    font-size : 14px;
    border-radius : 20px;
    border : none;
    padding : 8px;
    background-color: #FFFFFF;
    border : 1px solid #F3F3F3;
}


.div-container a{
    color : black;
    font-size: 1rem;
    margin-top: 20px;
}