*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

.web-container{
    height : auto;
    width : 100vh;

}

header{
    display: flex;
    flex-direction: column;
    width : 99vw;
    align-items: center;
}

.announcement-bar{
    width : 100%;
    background-color: #5A6D57;
    text-align: center;
    color : white;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 100%;
    height : 30px;
    padding : 10px 0px;
}


.navigation-bar{
    width : 100%;
    padding: 0 0 5px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}



.page-container{
    width: 50%;
}

.page-list{
    width : 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    padding: 5px 10px;
    
}

.page-list a{
    text-decoration: none;
    color : black;
    font-family: "Montserrat";
    color : #404040;
    
}


.icon-container{
    width : 15%;
    display: flex;
    justify-content: space-between;
    padding : 5px 10px;
}



/* -------------------------main------------------------ */

main{
    width : 99vw;
}

.hero-container{
    width : 100%;
    height : 100vh;
    background-image: url(./image/hero\ image.png);
    position: relative;
}

.hero-para{

    height : 130px;
    position: absolute;
    top: 300px;
    left : 108px;
    
}

.hero-para p{
    width : 100%;
    font-family: 'Gill Sans MT';
    font-style: italic;
    font-size: 34px;
    font-weight: 400;
    line-height : 180%;
    color : #0C0C0C;
    
}

.hero-para button{
    margin-top : 30px;
    padding : 8px ;
    width : 184px;
    border : none;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height : 24px;
}


/* ------------------------ cards container ---------------------- */

.bestSellers-container{
    width : 100%;
    padding:   80px;
    display : flex;
    flex-direction: column;
}


.information-container{
    width : 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.information-container button{
    border : none;
    background-color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    color : #5A6D57;
}


.information-container h2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
}



.cards-container{
    display: flex;
    justify-content: space-between;
    gap : 20px;

}

.card-container{
    height : 546px;
    width : 35%;
    display: flex;
    flex-direction: column;
    
}

.img{
    position: relative;
}

.next-button{
    width: 80%;
    height: 8%;
    border : none;
    cursor: pointer;
    position: absolute;
    top : 85%;
    left : 10%;
    background-color: #404E3E;
    color : white;
    font-family: 'Montserrat';
    line-height : 180%;
    display: none;
}

.img:hover >.next-button{
    display: block;
}

.img img{
    width : 100%;
    height : 438px;
    object-fit: cover;
}


#favorite1 ,
#favorite2 ,
#favorite3 {
    display: none;
}



#favorite1:checked ~ .favorite1 img,
#favorite2:checked ~.favorite2 img ,
#favorite3:checked ~.favorite3 img
{
    background-color: red;
}




.fav{
    height : 25px;
    width : 25px;
    position: absolute;
    top : 10px;
    right : 10px;
}

.fav img{
    height : 100%;
    width : 100%;
    border-radius : 50%;
    background-color: antiquewhite;
    

}




.para-container{
    display: flex;
    flex-direction: column;
    gap : 5px;
}

.para-container h3{
    font-family: 'Montserrat';
    font-style : bold ;
    font-size : 16px;
    font-weight: 700;
    line-height : 140%;
}



.name-price{
    display : flex;
    justify-content : space-between;
    
}

.name{
    font-family: 'Montserrat';
    font-weight : 400;
    font-size : 16px;
    line-height: 180%;
}

.price{
    font-family: 'Montserrat';
    font-weight : 700;
}

.color-container{
    display: flex;
    gap : 10px;
}

.black-container{
    height : 20px ;
    width : 20px ;
    border-radius : 50%;
    background-color: #0C0C0C;
}


.pink-container {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #7DC3EB;
}

.green-container {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #748C70 ;
}







/* -------------------------Collection Container --------------------------- */

.collection-container{
    height : 200vh;
    width: 99vw;  
    padding : 40px 80px; 
}

.collection-container h2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size : 32px;
    line-height : 140%;
    margin-bottom: 20px;
}


.img-gallery{
    width: 100%;
    height : 90%;
    display: flex;
    gap: 30px;

}

.left-gallery{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap : 20px;
    
    
}

.right-gallery{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap : 20px;
}


.pic-container1{
    background-image: url(./image/collectionPic/Blouses.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height : 30%;
    width : 100%;
    position: relative;
}

.pic-container2{
    background-image: url(./image/collectionPic/Dresses.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width : 100%;
    height : 70%;
    position: relative;

}

.pic-container3 {
    background-image: url(./image/collectionPic/pants.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height : 70%;
    width : 100%;
    position: relative;
}

.pic-container4 {
    background-image: url(./image/collectionPic/outwear.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30%;
    width : 100%;
    position: relative;
}


.img-gallery button{
    border : none;
    padding : 10px 50px;
    background-color: #FFFFFF;
    font-family: 'Montserrat';
    position: absolute;
    bottom : 10px;
    right : 10px;

}






/* --------------Modiweek Section */


.modiweek-container{
    padding : 40px 80px;
    width : 100vw;
    height : 100vh;
    overflow: hidden;
}



.modiweek-container h1 {
    height : 10%;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    margin-bottom : 10px;

}


.modiweek-cards-container{
    display: flex;
    width : 100%;
    height : 90%;
    gap : 20px;
    overflow-x: auto;
    
}

.modiweek-card-container{
    width : 20vw;
    height : 100%;
    display : flex;
    flex-direction: column;
    

}





.modiweek-pic-container{
    width : 20vw;
    height : 80%;
    position: relative;


}





.modiweek-img{
    width : 100%;
    height : 100%;
    object-fit: cover;
    
}

.modiweek-fav img{
    border-radius : 50%;
}

.modiweek-fav-container {
    height : 20px;
    width : 20px;
    background-color: #FFFFFF;
    position: absolute;
    top : 5px;
    right : 5px;
    border-radius: 50%;

}

#modiweek-check,
#modiweek-check2,
#modiweek-check3,
#modiweek-check4,
#modiweek-check5{
    display: none ;
}

#modiweek-check:checked ~ .modiweek-fav img,
#modiweek-check2:checked~.modiweek-fav img,
#modiweek-check3:checked~.modiweek-fav img,
#modiweek-check4:checked~.modiweek-fav img,
#modiweek-check5:checked~.modiweek-fav img{
    background-color: red;
}


.modiweek-fav {
    height : 100%;
    width : 100%;
    
}


.modiweek-pic-container button{
    display : none;
    border : none;
    width: 80%;
    height: 10%;
    position: absolute;
    bottom : 5%;
    left : 10%;
    background-color: #748C70 ;
}




.modiweek-pic-container img:hover~button {
    display: block;
}

.day-container {
    height : 20%;
    width : 100%;
    font-family: 'Montserrat';
    font-weight : 700;
    font-size : 16px;
    line-height : 140%;
}

.day-container h2{
    margin : 55px 0px 0px 6px;
    font-family : 'Montserrat';
    font-weight : 700;
    font-size: 16px;
    line-height : 140%;

}




.day-container{
    height : 20%;
    width : 100%;
    font-family : 'Montserrat';
    font-weight : 700;
    font-size : 16px;
    line-height : 140%;
}




/* ---------------Sustainability section -------------- */


.sustain-container{
    margin : 40px 0px;
    height : 80vh;
    width : 100vw;
    background-image: url(./image/sustainpic/sustain_pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    position: relative;
    

}


.sustain-para-button{
    width : 35%;
    position : absolute;
    bottom : 30px;
    right : 70px;

    display: flex;
    flex-direction: column;
    align-items: start;
} 

.sustain-para-button p{
    font-family: 'Montserrat';
    font-size : 20px;
    font-weight : 400;
    line-height : 180%;
}


.sustain-para-button button{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    border : none;
    line-height : 24px;
    padding : 10px 40px;
    align-self: end;
    
}

.sustain-para-button button:hover{
    background-color: #ffffffa6;
}







/* ------------------------------Modimal Section----------------------- */

.modimal-container{
    padding : 40px 80px;
    height : 140vh;
    width : 100vw;

}

.modimal-container h1{
   height : 10%;
   width : 100%;
   font-family: 'Montserrat';
   font-weight : 600px;
   font-size : 32px;
   line-height : 140%;
}


.modimal-image-container{
    height : 90%;
    width : 100%;
    display: flex;
    
}


.left-modimal-image-container{
    height : 100%;
    width :50%;
}

.left-modimal-image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.right-modimal-img-container{
    height : 100%;
    width : 50%;
    display: flex;
    flex-wrap: wrap;
}

.right-modimal-img-container img{
    height : 50%;
    width : 50%;
    object-fit: cover;
    
}



/* -----------------Footer section -------------- */



footer{
    height : 70vh;
    width : 100vw;
    display: flex;
    padding : 60px 80px 0px  80px ;
    margin-top : 20px;
    background-color: #404040;
    color : white;
    
}


.left-footer-container{
    width : 50%;
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.left-footer-container h2{
    font-family: 'Montserrat';
    font-weight : 700;
    font-size : 20px;
    line-height : 140%;
}


.footer-email-container{
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    gap : 4px;
    width : 90%;
    
}

.input-container{
    display: flex;
    height : 70%;
    align-items: center;
    

}

.input-container:hover{
    filter: brightness(0.8);
}




.input-container input{
    width : 100%;
    background-color: transparent;
    border : 1px solid rgba(255, 255, 255, 0.527);
    outline: none;
    padding : 10px ;
    color : white;
}


.input-container img{
    height : 20px;
    width : 20px;
    position: relative;
    right : 30px;
    
}



.footer-checkmark{
    display : flex;
    width : 100%;
    gap : 4px;
    align-items: center;
}

#footerChecker{
    display : none;
}


#footerChecker:checked~.footerLabel{
    background-color: #404040;
}


.footerLabel{
    height : 15px ;
    width : 15px;
    background-color: #FFFFFF;
    border : 1px solid rgba(255, 255, 255, 0.473);
}



.footer-pic-container{
    display : flex;
    gap : 15px;
    margin-bottom : 10px;
    
}

.copywrite-container{
    margin-bottom : 30px;
    display: flex;
    align-items: center;
    gap : 8px;
}

.left-copywrite{
    font-size: 1.8rem;
}

.right-copywrite{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    width : auto;
    line-height: 180%;
    

}


.right-footer-container{
    height : 100%;
    width : 50%;
    display: flex;
    justify-content: space-between;

}

.aboutModimal-container{
    display: flex;
    flex-direction: column;
    gap : 20px;
}

.aboutModimal-container h3{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}


.aboutModimal-para{
    display: flex;
    flex-direction: column;
    gap : 10px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size : 18px;
    line-height : 180%;
}



.help-support-container{
    display: flex;
    flex-direction: column;
    gap : 20px;
}

.help-support-container h3{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}


.help-support-para{
    display: flex;
    flex-direction: column;
    gap : 5px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size : 18px;
    line-height : 180%;
}

.joinUp-container{
    display: flex;
    flex-direction: column;
    gap : 20px;
}

.joinUp-container h3{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}


.joinUp-para{
    display: flex;
    flex-direction: column;
    gap : 5px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size : 18px;
    line-height : 180%;
}
