@import "tailwindcss";


@font-face {
    font-family: "satoshi";
    src: url("./assets/font/Satoshi-variable.ttf") format("truetype");
    font-weight: 100 900;
    
}



@font-face {
    font-family: "integral-cf";
    src: url("./assets/font/Fontspring-DEMO-integralcf-regular.otf") format("opentype");
    ascent-override: 89%;
    descent-override: 11%;
    
}

@font-face {
    font-family : "doto";
    src : url("./assets/font/Doto-Regular.ttf");
}



@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-chestnut: #973F29 ;
    --spacing-h2-spa : px-10 , mt-10;
    --font-satoshi: "satoshi";
    --font-integral-cf: 'integral-cf';
    --font-integral-cf-bold: 'integral-cf-bold';
    --font-doto: 'doto', sans-serif;
}

/* @layer base{
    h3 {
        @apply text-white text-2xl space-x-0.5;
    }
} */

@layer components{
    .card{
        @apply py-5 px-10 text-green-600 bg-blue-300 border-none rounded-2xl hover:bg-blue-200;
    }

    .heading{
        @apply font-satoshi font-bold text-2xl;
    }

    .para{
        @apply font-satoshi font-light text-[12px] leading-3;
    }

    .big-heading{
        @apply font-integral-cf font-bold text-[32px] ;
    }

    .card-heading{
        @apply font-satoshi font-bold text-[16px] leading-[100%] mt-[10px] sm:text-[20px] sm:mt-4 ;
    }
    

    .footer-header{
        @apply font-satoshi font-medium text-sm  leading-[140%] tracking-[3px] uppercase sm:text-base;
    }

    .footer-para{
        @apply flex flex-col gap-3 font-satoshi font-normal text-sm opacity-60 leading-[120%] sm:text-base;
    }


}

@utility flex-center{
    @apply flex justify-center items-center;
}

@utilitiy bg-centerright{
    background-position: center right;
}



@utility search-cancel-hide {
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }
}

@utility bg-center-right{
    background-position : center right;
}


