* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container {
    margin: 50px auto;
    max-width: 900px;
    display: flex;
    border-radius : 20px;
    background-color: #F5F5F5;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.image-container {
    height: min(90vh,416px);
    width: min(40vw, 450px);
    margin: 10px;
    border-radius: 20px;


}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius : 20px;
}

.information {
    min-height: min(90vh,416px);
    width: min(40vw ,450px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 16px;
    margin: 10px 10px 10px 30px;
    padding : min(1vh,30px) min(0.8vh, 30px)  min(1vh, 60px) 0px; 
}

.information h1{
    width: min(30vw, 300px);
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
}

.information p{
    width : min(30vw, 300px);
    text-align: left;
}

.email-container{
    display: flex;
    flex-direction: column;
    gap : 4px;
}

.email-container input {
    width: min(30vw, 300px);
    padding : 15px 20px ;
    border-radius: 20px;
    border: 1px solid #E5E5E5;
}

.email-container input:hover{
    transform: scale(1.03);
    background-color: rgb(215, 215, 243) ;
}

#offer-button{
    width: min(30vw, 300px);
    padding : 15px 20px ;
    border-radius: 20px;
    border : none;
    background-color: #E16F3D;
}

#offer-button:hover{
    transform: scale(1.03);
    background-color: #e16e3da1 ;
}


p {
    text-align: center;
}


@media(max-width: 440px){
    .card-container{
        margin : 5px;
        width :calc(100vw - 10px);
        height : calc(100vh - 10px);
        display: flex;
        align-items: start;
        flex-direction: column;
        
    }
    
    .image-container {
        height: calc(50vh - 20px);
        width: 95%;
        align-self: center;
        
    }
    .information {
        height: calc(50vh - 40px);
        width: 90vw;
        margin: 30px 0px 10px 20px ;
        padding-left: 5px;
        justify-content: start;
        
        
    }
    .information h1 ,.information p ,#offer-button, .email-container input{
        width : 80%;
    }
    
}