*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}



form{
    margin: 20px auto;
    min-height : min(800px , 90vh);
    width : min(700px , 90vw);
    background-color : #FFFFFF;
    padding : clamp(2rem, 4vw, 4rem) ;
    border-radius : 10px ;
    font-size : clamp(0.8rem , 1vw , 1.1rem);
    color: #1E293B;
    font-family : arial , sans-serif;
    box-shadow : 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
    
}

.form-group{
    display : grid;
    grid-template-columns : min(160px , 25vw) 1fr;
    align-items : center;
}

label{
    font-weight : bold;

}

input,textarea,#payment{
    padding : 5px;
    border : 0.5px solid #BBF7D0;
    border-radius : 5px;
    width: 90%;
    
}

input:hover , textarea:hover, #payment:hover{
    border : 1px solid #16A34A;
    background-color : #F8FAFC;
    transition: 0.3s ease;
    transform : scale(1.02);

}

#payment-method{
    margin-top : 10px;


}


.radio{
    width : max(200px , 90%);
    display : flex;
    gap : min(130px , 10vw);

}

.radio-group-container{
    display: flex;
    gap : min(30px ,5vw);
    width: 70%;
}

.radio-group {
    font-size : clamp(0.6rem , 0.5vw , 1rem);
    display : flex;
    align-items: center;
    gap :4px;
    
}

.radio-group label{
    font-weight : normal ;
}


.button-group{
    display : flex;
    justify-content : space-around;
    
}

button{
    padding : 8px 18px;
    border-radius : 5px ;
    border : none;
    background-color : #2563EB;
    
}

button:hover{
    background-color : #1D4ED8;
    transition:.3s ease;
    transform : scale(1.02);
}

@media(max-width:450px){

    .form-group{
        width : 100%;
        margin : 0px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    
    
    input,textarea,#payment{
        width : 90%;
    }

}