*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

.container{
    margin : 0px;
    background-color: brown;
    height : 1000px;
    /* position : relative; */
}

h2{
    /* position: static ; */
    /* its default value of position. its follow normal baheviours of normal documation . top, bottom , left, right and z-index does not work in this position  */

    /* position: relative;
    top : 100px; */

    /*  position relative works on the relative of first position of the element . top,
        bottom,
        left,
        right and z-index does work .\ */
    
        /* position: absolute; */
        top : 0px;
        bottom : 0px;
        background-color: blueviolet;
    /* position absolute works ont the  relative of the viewport if any parent , grandparent etc until it reached into root which is root */


    
}

header{
    display : flex;
    justify-content: space-between;
    padding : 10px 30px 0px 30px ;
    background-color: chocolate;

    /* position : fixed;
    left :0;
    right : 0;
    top : 0; */


    /* position fixed helps us place an element any particular place in the view port thats don't move after scroll down or up. its sit above other element .other element does not know its there.top,bottom , left ,right and z-index work here. */

    position : sticky;
    top : 0px;
    

    /* position sticky stick to the certain until it stick .   */
}


.hero{
    height : 50vh;
}




/* overflow = property that's set the desired behavior 
                when does not fit in the parents element box
                
                
                overflow : visible
                overflow : hidden
                overflow : clip
                overflow : scroll
                overflow : auto*/



.overflow-contain{
    margin: auto;
    border : 2px solid;
    height : 100px ;
    width : 200px ;
    /* overflow: visible ; */

    /* this is the default page of overflow . overflow elements stays visible outside of the box  */


    /* overflow: hidden; */

    /* this helps overflow element to be hidden . but we can interact with the elements */

    /* overflow: clip;
    overflow-clip-margin : 10px; */

    /* overflow clip helps likes hidden . but it can also help us measure how much we want to be hidden using overflow-clip-hidden  */

    /* overflow: scroll; */

    /* overflow scroll using scroll to show all the element . if it donot element outside of the parent element box still scrolls are visible although its not scrollable  */
    


    /* overflow: auto; */

    /* it helps us to scroll down to see outside of the box elements . but if outside box are not there then scroll bar is not visible*/
}



.z-container{
    margin : 100px auto ;
    height : 200px ;
    width : 200px;
    background-color: blue;
    font-size: 0.5rem;
    position: relative;
    
    
}


.box{
    height : 30px ;
    width : 30px;
    text-align: center;
}

.circle{
    height : 30px;
    width : 30px;
    border-radius : 50%;
    background-color: chocolate;
    text-align: center;
    z-index: 2;
}
#box1{
    background-color: brown;
    position: absolute;
}

#box2 {
    background-color: red;
    position: absolute;
    top : 0;
    right : 0px;

}

#box3 {
    background-color: yellow;
    position: absolute;
    bottom : 0px;
    left : 0px ;
 
}

#box4 {
    background-color: pink;
    position: absolute;
    bottom : 0px;
    right : 0px;
}


#circle1{
    position: absolute;
    top : 85px;
    left : 85px;
    z-index : 2;
}

#circle2 {
    background-color: rgb(245, 238, 238);
    position: absolute;
    top: 85px;
    left: 85px;
    z-index : 1;


}



/* pseudo class keyword added to the selector they modify behaviors of the element based on the certain state */


.class-container{
    height : 90vh;
    width : 90vw;
    margin : 50px 500px;
}


.signin{
    padding : 10px 20px;
    font-size : 1rem;
    background-color: blue;
    border-radius : 5px;
    border : none ;
    color : white ;

}


.signin:hover{
    background-color: rgb(197, 197, 238);
    font-size: 1.1rem;
}

.signin:active{
    background-color: rgb(227, 227, 252); ;
}

.class-container a{
    font-size: 1rem;
}

.class-container a:hover{
    background-color: rgb(197, 197, 238);
    font-size: 1.1rem;
}


.class-container a:active {
    background-color: rgb(227, 227, 252);
    
}


.class-container a:visited{
    color : black;
}

.class-container a:link{
    font-weight: bold;
}

#num li:hover{
  background-color: yellowgreen;
}

#num li:not(:hover){
    background-color:lightblue ;
}




/* pseudo-element : keyword added added after a selector that's used 
                    to style specific part of the
                    element */
h1:first-letter{
    font-size: 5rem;
    font-family : sans-serif;
}

p::first-line{
    background-color: blue;
}


#fruits li::marker{
    content : "→";
}

#apple::after{
    content :"🍎";
}

#orange::after{
    content: "🍊";
}

#banana::after{
    content : "🍌";
}

