*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

:root{
    --p-font-size : clamp(0.8rem, 1vw, 1.5rem);
}

.div-container{
    margin : min(2vh, 20px) auto;
    padding : min(2vh,30px) min(1.5vw, 20px) 0px min(1.5vw, 20px);
    height : 70vh;
    width : 95vw;
    display : flex;
    flex-direction: column;
    border : 1px solid rgba(0, 0, 0, 0.055);
    border-radius : min(2vw,20px);

}

.contain-container{
    height : 70%;
    width : 100%;
    display: flex;
    gap : min(2vw,20px);

}

.item-container {
    padding: min(1vh,10px) min(1vw,10px);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: min(2vw, 20px);

}


#explore-container, #customerCare-container, #contact-container{
    padding-top : min(2vh, 30px);
}

.title-p{
    font-size: var(--p-font-size);
    font-weight: bolder;
}

.item-container p, a{
    opacity: 0.7;
    font-size: var(--p-font-size);
}

.title-container h1{
    font-size : var(--p-font-size);
}




.title-container{
    display : flex;
    align-items: center;

}
.title-container img {
    height : min(2vw, 20px) ;
    width : min(2vw, 20px);
}

.image-container{
    padding-top : clamp(1px , 30px , 35px);
    display : flex;
    justify-content: space-between;
    width : 40%;
}

.image-container img{
    height : min(2vw, 20px) ;
    width : min(2vw, 20px);
    border-radius : 50%;
}

.email-container  {
    display : flex;
    justify-content: start;
    align-items: center;
    gap : 2px;
}

.email-container img{
    height  : min(2vw, 20px);
    width : min(2vw, 20px);
}

.email-container a{
    color : black;
    text-decoration: none;
    opacity: 0.7;
}


.phone-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2px;
}

.phone-container img {
    height: min(2vw, 20px);
    width: min(2vw, 20px);
}


.payment-container{
    height : 30%;
    width : 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0px min(3vh, 20px) 0px min(3vh, 20px);
    opacity: 0.7;
    border-top: 1px solid rgba(0, 0, 0, 0.164);;
}

.condition-container{
    display: flex;
    gap : min(2vw, 30px);
}

.condition-container button{
    border : none;
    background-color: #FFFFFF;
    
}

.system-container{
    display: flex;
    gap : min(0.5vw , 5px);
}

.system-container img{
    height : min(2vh, 15px);
    width : min(2vw, 15px);
}

.payment-container p, a, button{
    font-size: var(--p-font-size);

}


@media(max-width : 440px){
    .contain-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap:5px;
    }

    .payment-container{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: auto;
        column-gap: min(1vw , 10px);
    }
}
